# Entornos virtuales
venv/
.env/

# Archivos de Python
*.pyc
__pycache__/

# Archivos de configuración del editor
.idea/
.vscode/

# Archivos de bases de datos locales
*.sqlite3

# Archivos de logs
*.log

# Archivos generados por IDEs
.vs/